.container
  .jumbotron
    h1 Flash
    p Welcome to Flash! Learn Coding in a Fast Way with access to Tech Training Videos.

  .row
    .col-md-6
      div(ng-include="'/partials/main/featured-courses'")
    .col-md-6
      div(ng-include="'/partials/main/new-courses'")